*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.904);
}

#input, #search{
    color: white;
    width: 400px;
    height: 50px;
    background-color: rgba(165, 146, 146, 0.2);
    border-radius: 6px;
    border:1px solid rgba(104, 101, 101, 0.698);
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: 1.2rem;
}
#input:focus, #search:focus{
   outline: none;
}
#search{
    margin-top: 2rem;
    margin-left: 2rem;
    width: 120px;
    text-align: center;
}
#todobtn{
    background: transparent;
    border: 1px solid rgb(152, 48, 161);
    border-radius: 5px;
    width: 100px;
    height: 50px;
    margin-top: 2rem;
    background-color:transparent;
    color: rgb(207, 41, 207);
    padding: .7rem;
    margin-left: .7rem;
    font-size: 1rem;
    cursor: pointer;
}

#todo-Container{
    margin-top: 2rem;
    padding: .8rem;
    width: 600px;
    height: auto;
}
#todo-Container .tododiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(136, 41, 136);
    border-radius: 6px;
    background-color:rgba(108, 32, 143, 0.5);
    color: white;
    height: 50px;
    padding: .8rem;
    margin: 1.3rem 0;
    font-size: 1.2rem;
    box-shadow: 0 0 1rem 0rem rgba(0, 0, 0, 0.897);
}

.hide{
    display: none !important;
}
.delete{
    color: white;
    font-size: 1rem;
    cursor: pointer;
}